 .banner{
	 width:100%;
	 height:52px;
	 background:url('../img/leaf.jpg');
 
 }
 .my-navbar{
	 border:0;
	 border-radius:0;
	 background:rgba(0, 0, 0, 0.5);
 }
  .navbar-default .navbar-brand{
	  font-size:40px;
	  color:white;
  }
  .navbar-default .navbar-nav>li>a{
	  font-size:15px;
	  color:white;
  }
  .h1, .h2, .h3, h1, h2, h3{
	  
	  color:black;
	  font-size:29px;
  }
  .red{
	 width:100%;
	 height:52px;
	 background:powderlight;
 
 }
 .nac-navbar{
	 border:0;
	 border-radius:0;
	 background:black;
 }
 .h1, .h2, .h3, h1, h2, h3{
	 color:black;
 }
 .thumbnail img{
	 width:300px;
	  
	 margin:0px auto;
	 
}
 

 
 p{
	 color:black;
 }
  
 .footer{
	 background-color: black;
    height: 111px;
    margin-top: 30px;
    padding: 5px;
	 
 }
 
 
 .list-inline>li {
    display: inline-block;
    padding-right: 11px;
    padding-left: 30px;
    padding-top: 20px;
}
    a:focus, a:hover {
    color:blue;
    
	font-size:15px;
}
a{
	Color:white;
	font-size:15px;
	margin:0px auto;
	 
}
   
   .Fotter_2{
	   background-color:black;
	   
   }
  blockquote p{
	  color:white;
  }
  .nav_bottom{
	  border-top:2px solid white;
  }
  
  .nav_bottom ul li{padding:20px;}
   
    .picture_1{
		width:29px;
		border:2px solid blue;
		padding:2px 2px 2px 2px;
	}
   .finsh{
	   
	   background:black;
   }
   .R{
	   color:black;
	    
   }
   .R a{
	   text-decoration:none;
   }
   .t{
	  color:black; 
   }
   .list-inline>li{
	   text-decoration:none;
   }
   .tab-im{
	   position:relative;
   }
    .hand {
		position:absolute;
		top:64px;
		left:15px;
         
	}
	

	
	 
	   